$background-color: #f7f7f7;
$color-blue: rgb(52, 143, 235);
$color-blue-dark: darken($color-blue, 2%);
$color-blue-light: lighten($color-blue, 38%);
$color-red: tomato;
$color-red-light: lighten($color-red, 30%);
$color-indigo: rgb(218, 165, 32);
$color-indigo-light: lighten($color-indigo, 30%);
$color-white: #fff;
$color-black: #000;
$btn-fontsize: 1.2rem;
$background-color: #f7f7f7;
